.header {
    &_container {
        padding: 1.25rem 1.875rem;
        .header_top {
            display: flex;
            justify-content: space-between;
            .header_left {
                display: flex;
                align-items: center;
                gap: 2rem;
                .hamburger_menu {
                    cursor: pointer;
                    display: none;
                    width: 26px;
                    span {
                        display: block;
                        height: 3px;
                        transition: all 0.2s ease-in-out 0s;
                        margin-bottom: 5px;
                        background-color: rgb(13, 17, 54);
                        border-radius: 6px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    & :nth-child(1) {
                        width: 26px;
                        margin-top: 0.4rem;
                    }
                    & :nth-child(2) {
                        width: 12px;
                    }
                    & :nth-child(3) {
                        width: 22px;
                    }

                    &:hover {
                        & :nth-child(1) {
                            width: 12px;
                        }
                        & :nth-child(2) {
                            width: 12px;
                        }
                        & :nth-child(3) {
                            width: 26px;
                        }
                    }
                }

                .header_logo {
                    position: relative;
                    width: 7rem;
                    height: 1.125rem;
                }
                .header_dropdown {
                    .dropdwon_header {
                        height: 38px;
                        width: auto;
                        display: flex;
                        align-items: center;
                        background-color: white;
                        border: 1px solid rgb(241, 241, 241);
                        border-radius: 6px;
                        padding: 0 15px;
                        gap: 7px;
                        .dropdwon_text {
                            color: #009e7f;
                            font-size: 15px;
                            font-weight: 700;
                            color: rgb(0, 158, 127);
                        }
                        .dropdwon_icon,
                        .dropdwon_down_icon {
                            position: relative;
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                    }
                    .dropdwon_links {
                        display: none;
                        .dropdwon_links_icon {
                            position: relative;
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                    }
                }
            }

            .header_right {
                display: flex;
                align-items: center;
                gap: 2rem;
                .avatar{
                    width: 2.5rem;
                    height: 2.5rem;
                    display: block;
                    border-radius: 100%;
                }
                .right_link {
                    font-size: 15px;
                    color: #0d1136;
                    cursor: pointer;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    &:hover {
                        color: #009e7f;
                        transition: 0.5s all;
                    }
                    .right_link_icon {
                        position: relative;
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                    }
                }
                .langs {
                    .langs_title {
                        font-size: 15px;
                        color: #009e7f;
                        cursor: pointer;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        padding: 0px 10px;
                        background-color: white;
                        border-radius: 6px;
                        height: 38px;

                        .langs_icon {
                            position: relative;
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }

                .search_btn {
                    position: relative;
                    width: 1.125rem;
                    height: 1.125rem;
                    cursor: pointer;
                    display: none;
                }
            }
        }

        .header_bottom {
            display: none;
            margin-top: 3rem;
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .top_desc {
                    font-size: 19px;
                    color: rgb(119, 121, 140);
                    display: block;
                    font-weight: 400;
                    line-height: 1.5;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 15px;
                }
                .tag_name {
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                    color: rgb(0, 158, 127);
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: "";
                        width: 5px;
                        background-color: rgb(255, 173, 94);
                        height: 5px;
                        border-radius: 50%;
                        margin-right: 7px;
                        display: block;
                    }
                }
            }
            .bottom {
                margin-top: 1.25rem;
                .header_form {
                    padding: 1rem;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    gap: 20px;
                    width: 100%;
                    color: rgb(119, 121, 140);
                    background-color: #f7f7f7;
                    border-radius: 6px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgba(221, 216, 216, 0.758);
                    .form_input{
                        border: none;
                        background-color: transparent;
                        width: 100%;
                        &:focus{
                            border: none;
                            outline: none;
                        }
                    }
                    .img_box {
                        width: 1.125rem;
                        height: 1.125rem;
                        position: relative;
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 62rem) {
    .header {
        &_container {
            .header_top {
                .header_left {
                    .hamburger_menu {
                        display: block;
                    }
                    .header_dropdown {
                        display: none;
                    }
                }
                .header_right {
                    .right_link {
                        display: none;
                    }
                    .langs {
                        .langs_title {
                            background-color: transparent;
                            border: 1px solid rgba(200, 193, 193, 0.526);
                        }
                    }
                    .search_btn {
                        display: block;
                    }
                    .show_btn {
                        display: none;
                    }
                }
            }
            .header_bottom{
                display: block;
            }
        }
    }
}
@media screen and (max-width: 48rem) {
    .header {
        &_container {
            .header_top {
                .header_left {
                    gap: 1rem;
                }
                .header_right {
                    gap: 1rem;
                    .langs {
                        .langs_title {
                            border: none;
                            padding: 0;
                            span {
                                display: none;
                            }
                            .langs_icon {
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
