.hero {
    background: url("/headerbg.png") no-repeat;
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    &_container {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .hero_title {
            font-size: 3rem;
            color: rgb(13, 17, 54);
            font-weight: 700;
            margin-bottom: 15px;
            text-align: center;
        }
        .hero_desc {
            color: rgb(119, 121, 140);
            display: block;
            font-weight: 400;
            line-height: 1.5;
            font-size: 19px;
            margin-bottom: 60px;
            text-align: center;
        }
        .hero_form {
            display: flex;
            align-items: center;
            gap: 27px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 21px 36px;
            width: 45%;
            .form_tag {
                font-size: 14px;
                padding: 0 15px;
                line-height: 38px;
                color: rgb(0, 158, 127);
                background-color: rgb(247, 247, 247);
                border-radius: 6px;
                margin: 5px 0 5px 5px;
                white-space: nowrap;
                text-transform: capitalize;
                font-weight: 700;
            }
            .form_input {
                font-size: 15px;
                border: 0px;
                height: 48px;
                appearance: none;
                color: rgb(119, 121, 140);
                background-color: inherit;
                width: 100%;
                &:focus{
                    border: none;
                    outline: none;
                }
            }
            .search_btn {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0;
                height: 100%;
                border-radius: 0;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                .search_icon {
                    position: relative;
                    display: block;
                    width: 1.125rem;
                    height: 1.125rem;
                    filter: invert(1);
                }
            }
        }
    }
}

@media screen and (max-width: 62rem) {
    .hero{
        display: none;
    }
}